body {
   font-family: Arial, Helvetica, sans-serif; 
   margin: 0 7rem;
   background-color: #00728A;
   padding: 4rem
}
nav {
    background-color: black;
    text-align: center;
    width:80%
}
nav>body {
    background-color: #00728A;
}
nav>a:hover {
    border-color: #00728A;
    color:#00728A;
    font-weight: 800;
}
section {
    background-color: black;
    width:80%;
    justify-content: center;
}
section>p {
    color: white;
}
section>h2 {
    color:#00728A;
}

h2, p {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}
header {
    font-size:1.5rem;

}

.about>img {
    display:inline-block;
    width: 50%;
    max-width: 20%;
    vertical-align: middle;
}
@media (min-width:800px)
{   .about>p {
     display: inline-block;
     width:50%;
     text-align: center;
     position: relative;
     bottom: 40px;
     vertical-align: middle;
}

nav {
    display: flex;
    justify-content: space-evenly;
}
}
nav {
    margin: auto;
    
}
header>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}
section{
    margin: auto;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
nav>a {
    color:#00728A;
}
.projects>p>a {
    color: aliceblue;
}
